<div class="header bg-gradient-caretta-green pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Jaro-Winkler</h5>
                  <span class="h2 font-weight-bold mb-0">>= %80</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Soru Tipi</h5>
                  <span class="h2 font-weight-bold mb-0">11</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Kategori</h5>
                  <span class="h2 font-weight-bold mb-0">5</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Dil</h5>
                  <span class="h2 font-weight-bold mb-0">4</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">
  
    </div>
    <div class="col-xl-12">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="mb-0">Çalışma Döngüsü</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <h4>Adım 1: Kullanıcı tarafından bir mesaj girilecektir.</h4>
          <h4>Adım 2: Sistem kullanıcıdan aldığı mesaj üzerinde dil algılama algoritmasını uygulayacaktır.</h4>
          <h4>Adım 3: Algılanan dil üzerinde, Türkçe diline çeviri gerçekleştiren algoritma uygulanacakdır.</h4>
          <h4>Adım 4: Mesaj üzerinde açılış ya da kapanış metni olma durumunu sorgulayan Jaro-Winkler algoritması uygulanacakdır.</h4>
          <h4>Adım 5: Mesaj üzerinde Jaro-Winkler algoritmasının benzerlik oranı %80 üzerinde ise açılış ya da kapanış metni cevap olarak dönülecektir.</h4>
          <h4>Adım 6: Mesaj üzerinde Jaro-Winkler algoritmasının benzerlik oranı %80 altında ise metin, kural tabanı ile yola devam edecektir</h4>
          <h4>Adım 7: Sistemde kayıtlı olan 9 adet anahtar kelime veri seti içerisindeki anahtar kelimeler dolaşılacaktır.</h4>
          <h4>Adım 8: Anahtar kelimeleri mesaj içerisinde bulunan veri seti tahmin edilen veri seti olarak kabul edilecektir.</h4>
          <h4>Adım 9: Bulunan veri setine göre sistemde kayıtlı 4 farklı soru-cevap veri seti içerisinden birisi üzerinde cevap metni sorgulanacaktır.</h4>
          <h4>Adım 10: Cevap metni ekrana çıktı olarak basılacaktır.</h4>
        </div>
      </div>
    </div>
  </div>
</div>
