<div id="general-div">
    <div id="img-div">
    </div>
    <div id="lang-div" class="col-4">
      <br>
        <label for="category">Dil Seç</label>
        <select
          [(ngModel)]="req.langID"
          id="language"
          class="form-control"
          (change)="onLanguageChange($event.target.value)"
        >
          <option *ngFor="let l of languages" [value]="l.ID">
            {{ l.lang }}
          </option>
        </select>
    </div>
    <div id="buttons-div">
        <button 
          title="Mikrofonu Aç"
          *ngIf="is_open_microphone == false" 
          id="button-start" 
          style="margin: 10px;" 
          (click)="startService()">
          <i class="fa fa-microphone"></i>
          
        </button>

        <button 
          title="Mikrofonu Kapat"
          *ngIf="is_open_microphone == true" 
          id="button-stop" 
          style="margin: 10px;" 
          (click)="stopService()">
          <i class="fa fa-microphone"></i>
        </button>
    </div>
    <!-- <p>{{text}}</p> -->
    <p id="predict-result" style="text-align: center;"><strong>{{predictionResult}}</strong></p>
</div>
