#general-div {
    text-align: center;
    margin: 50px;
}

body {
    background-color: rgb(209, 207, 208);
}

#lang-div {
    text-align: center;
    margin: 0 auto;
}

#img-div {
    height: 350px;
}