<div id="general-div">
    <div id="img-div">
    </div>
    <div id="lang-div" class="col-6">
      <br>
        <label for="category">Dil Seç</label>
        <select
          [(ngModel)]="req.language"
          id="language"
          class="form-control"
          (change)="onLanguageChange($event)"
        >
          <option *ngFor="let l of languages" [ngValue]="l">
            {{ l }}
          </option>
        </select>
    </div>
    <div id="buttons-div">
        <button 
          title="Mikrofonu Aç"
          *ngIf="is_open_microphone == false" 
          id="button-start" 
          style="margin: 10px;" 
          (click)="startService()">
          <i class="fa fa-microphone"></i>
          
        </button>

        <button 
          title="Mikrofonu Kapat"
          *ngIf="is_open_microphone == true" 
          id="button-stop" 
          style="margin: 10px;" 
          (click)="stopService()">
          <i class="fa fa-microphone-slash"></i>
        </button>
    </div>
    <!-- <p>{{text}}</p> -->
    <p id="predict-result" style="text-align: center;">{{predictionResult}}</p>
</div>
